html,body {
   padding:0;
   margin:0;
   width:100%;
   height:100%;
   position:relative;
   font-family:"Latin Modern Sans", "Liberation Sans", "Deja Vu Sans", Calibri, Arial, sans-serif;
}

body {
    display:-webkit-flex;
    display:flex;
    -webkit-flex-direction:column;
    flex-direction:column;
}

#content {
    -webkit-flex:1;
    flex:1;
    position:relative;
}

#left-pane {
   position:absolute;
   top:0;
   bottom:0;
   left:0;
   right:0;
   overflow:hidden;
}

#splitter {
   position:absolute;
   left:75%;
   top:0;
   bottom:0;
   width:4px;
   background:silver
}

#toolbar {
   z-index:100;
   min-height:1.4rem;
   line-height:1.4rem;
   vertical-align:middle;
   background:#CDE;
   padding:1px 0;
   font-size:0;
   -webkit-flex-direction:row;
   flex-direction:row;
   display:-webkit-flex;
   display:flex;
}

#toolbar .left {
    -webkit-flex:1;
    flex:1;
}


#toolbar .sep {
   padding-left:0.5ex;
   padding-right:0.5ex;
   display:inline-block;
   vertical-align:middle;
   height:1.4rem;
}

#toolbar button, #toolbar select {
   background-color:rgba(255,255,255,0.3);
   min-height:32px;
   font-size:small;
   border:0;
   border-top:1px solid #BBC;
   border-bottom:1px solid #BBC;
   vertical-align:middle;
   display:inline-block;
   margin: 1px 0;
   padding:0 3px;
}

#toolbar button img {
    margin:0 1px
}

#toolbar button:hover, #toolbar select:hover {
   background-color:white
}

#toolbar button:first-child, #toolbar select:first-child, .algomode #algo-exec {
   border-top-left-radius:4px;
   border-bottom-left-radius:5px;
   border-left:1px solid #BBC;
   margin-left:0.75ex;
}

#toolbar button:last-child, #toolbar select:last-child, .algomode #saveas, .codemode #redraw, .launch-disabled #algorun, .algomode #n-automaton {
   border-top-right-radius:4px;
   border-bottom-right-radius:5px;
   border-right:1px solid #BBC;
   margin-right:0.75ex;
}

#predef-algos {
    max-width:20ex;
    text-overflow: ellipsis;
}

select {
   -webkit-appearance:none;
   -moz-appearance:none;
   appearance:none;
   padding-right:2ex !important;
   background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='10pt' width='10pt'><text x='0' y='10' fill='black' font-size='10pt'>▾</text></svg>") !important;
   background-repeat:no-repeat !important;
   background-position: right center !important;
/*   background-origin:content-box;*/
}

#toolbar span {
   vertical-align:middle;
}

button * {
   vertical-align:middle
}

#toolbar button, #toolbar select, #toolbar .text {
   font-size:small;
   padding-top:4px;
   padding-bottom:4px;
}

.launch-disabled #algo-exec {
   display:none !important
}

#toolbar button {
  -webkit-transition:300ms;
  -ms-transition:300ms;
  transition:300ms;
}

#results {
   top:0;
   right:0;
   bottom:0;
   position:absolute;
   overflow:auto;
}

#results pre, .libD_notify-area pre {
   white-space:pre-wrap;
}

#splitter {
   cursor:ew-resize;
}

.disabled, .codemode .codemode-disabled {
   display:none !important;
}

#codeedit, #automatoncode {
   top:0;
   left:0;
   right:0;
   bottom:0;
   position:absolute;
}

#codeedit {
   font-size:11pt;
   line-height:16pt;
   font-family: "Monaco","Menlo","Consolas","Monospace","Droid Sans Mono","DejaVu Sans Mono", "Liberation Mono", "Ubuntu Mono", monospace;
   height:100%;
}

.designmode .algomode-specific {
   display:none !important;
}

.algomode .designmode-specific {
   display:none !important;
}

#svg-container, #toolbar, #results svg {
   -moz-user-select:none;
   -webkit-user-select:none;
   -ms-user-select: none;
   user-select:none;
}

#svg-container, #automatoncode, #automatoncodeedit {
   border:0;
   resize:none;
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%
}

#automatoncodeedit {
    background:transparent;
    padding:0.5ex;
    font-size:large ;
    font-family: "Monospace", "DejaVu Sans Mono", "Liberation Mono", "Ubuntu Mono", monospace;
}

#word {
   position:absolute;
   left:1em;
   top:1em;
   right:1em;
   color:#666;
   font-size:2em;
   font-weight:bold;
   text-shadow:0 0 2px gray;
}

#word span {
   transition:400ms ease-out;
   display:inline-block;
   opacity:1;
   transform:scale(1);
}

#word .eaten {
   opacity:0;
   -webkit-transform:scale(3) translate(-8px, -8px);
   -ms-transform:scale(3) translate(-8px, -8px);
   transform:scale(3) translate(-8px, -8px);
}

#results-tb button {
   background:rgba(250,250,250, 0.8);
   border-radius:4px;
   border:1px solid #AAA;
   margin-top:0.5ex;
   color:gray;
   font-weight:bold;
   vertical-align:middle;
   font-size:small
}

#results-tb button img {
   opacity:0.5
}

#results-tb {
   text-align:center;
   -webkit-transition:200ms;
   -ms-transition:200ms;
   transition:200ms;
   opacity:0.5;
   font-size:0
}

#results-tb:hover {
   opacity:1;
}

select {
   display:inline-block;
}

.libD_notify-area {
   max-width:80%;
   max-height:80%
}

#div-quiz {
   position:relative;
   z-index:100;
   max-height:100%;
   overflow:auto
}

#quiz-title, #quiz-author {

   text-align:center;
   font-family:sans-serif;
   font-weight:normal
}

#quiz-title {
   font-size:1.5em;
   color:#038;
   margin-bottom:0.5rem;
   padding-bottom:0
}

#quiz-author {
   color:#444;
   font-size:small;
   margin-top:0;
   padding-top:0;
   font-style:italic
}

#close-quiz {
   position:absolute;
   top:0;
   font-size:small;
   right:0;
   color:#C63;
   text-decoration:none;
   padding-right:1ex
}

#div-quiz.started #quiz-descr {
   display:none
}

#quiz-descr, #quiz-content {
   text-align:justify;
   margin:1em 1ex;
   color:#222;
}

.button-container {
   text-align:center;
   margin-top:1ex
}

#div-quiz button {
   background:#F1F1F1;
   border-radius:4px;
   border:1px solid silver;
   padding:2px;
   margin:0 0.5ex;
   -webkit-box-shadow:0 0 1px silver;
   box-shadow:0 0 1px silver;
   -webkit-transition:500ms;
   -ms-transition:500ms;
   transition:500ms
}

#div-quiz button:hover {
   -webkit-box-shadow:0 0 1px gold;
   box-shadow:0 0 1px gold;
   background:#FAFAF1;
}

#quiz-answers>ul {
   list-style:none;
   margin-left:0;
   padding-left:1em;
   color:black
}

#quiz-answers input {
   margin-right:1em
}

.quiz-answer-id {
   color:green;
   display:inline-block;
   min-width:3ex
}

.quiz-question-id {
   color:gray
}

#quiz-answers label {
   display:block;
   margin:0.5ex 0;
   border-radius:3px;
   -webkit-transition:500ms;
   -ms-transition:500ms;
   transition:500ms;
}

#quiz-answers label:hover {
   background:#FFFFCC;
   box-shadow: 0 0 5px #FFFFCC
}

#automata-container {
   position:absolute;
   top:0;
   left:0;
   right:0;
   bottom:0;
}

table {
   border-collapse:collapse;
   margin:auto;
}

#correction-table {
   box-shadow: 2px 2px 2px silver;
}

td, th {
   border:1px solid gray;
   padding:0.5ex;
}

#correction-table td {
   vertical-align:top;
   text-align:left
}

#correction-table .possibilities li, .qcmt li {
   list-style:none;
}

.qinst .possibilities, .qcmt ul {
   margin:0;
   padding:0;
}

.qinst .possibilities li {
   margin-left:1ex
}

#correction-table th {
   background:#F5F5F5;
   text-align:center;
   font-size:x-small;
}

.qstate {
   text-align:center !important
}

.qid {
   color:#07C;
   float:left;
   font-size:bold
}

#svg-container {
   z-index:100;
}

#welcome {
   z-index:0;
   line-height:1.7em;
   background:white;
   position: absolute;
   font-size:large;
   color: black;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   overflow:auto;
   padding:1em;
}
#welcome>:last-child {
   padding-bottom:6em;
}

#welcome p, #welcome ul {
   max-width:110ex;
}

#welcome li {
    margin-left:0;
    padding-left:1ex;
    list-style:none;
}

#welcome li:before {
    position:relative;
    left:-1ex;
    content:"✓";
    color:#A50
}


#welcome h2 {
   color:black;
   font-size:36pt;
   color: #05A;
   margin-top:0;
   padding-top:1rem;
   padding-bottom:1rem;
   text-align:center;
   font-weight:normal
}

#welcome h3 {
   font-weight:normal;
   font-size:22pt;
   color:#3A3
}

#word-layer1, #word-layer2 {
   position:absolute;
   top:0;
   left:0;
   right:0;
   display:inline-block;
   z-index:10;
}

#word-layer2 {
   opacity:0.4;
   z-index:0;
}

#automata-list-chooser {
   position:absolute;
   top:0;
   right:0;
   bottom:0;
   z-index:1000;
   background:#EFFAFF;
   max-width:40ex;
   box-shadow: -1px 0 1px #DDD;
}

#automata-list-chooser-close {
   position:absolute;
   top:0;
   right:1ex;
   font-size:small;
   text-decoration:none;
   color:red
}

#automata-list-chooser svg {
   max-width:2rem;
   max-height:2rem;
}

#automata-list-chooser-content {
   list-style:none;
   padding:0;
   margin:1ex 1px;
   border:1px solid #DDD;
   background:white;
}

#automata-list-chooser-content li {
   padding:0.3ex;
   margin:0;
}
#automata-list-chooser-content li span, #automata-list-chooser-content li svg {
   display:inline-block;
   vertical-align:middle;
}

#automata-list-chooser-content li:hover {
   background:#DEF
}

#automata-list-chooser-content a {
   text-decoration:none;
   display:block;
   color:gray
}

#automata-list-chooser p {
   text-align:justify;
   text-indent:2ex;
   font-size:small;
   color:gray;
   font-style:italic;
   margin:1.5rem 1ex 0 0;
}

.automaton-number {
   color:#0A5;
   font-weight:bold;
   text-align:right;
   padding:0 0.5ex;
   float:right;
   min-width:3ex;
   right:0
}

#pane-distantfile a {
   text-decoration:none;
   color:gray
}

#loaddistantfile p {
   margin-bottom:0;
   padding-bottom:0;
}


#pane-distantfile, #pane-localfile {
   padding:1ex
}

#pane-localfile {
   float:right
}

#pane-localfile button {
   margin-left:1em
}

#loaddistantfile .title {
   color:#444;
   font-size:1.2em;
   margin-top:3px;
   padding-top:0;
   font-weight:bold
}

#pane-distantfile {
   float:left
}

p img {
  vertical-align:middle
}

.automata-designer-resize-handle-rect {
   stroke:#A40;
   stroke-dasharray:5,5;
   fill:none
}

.automata-designer-resize-handle {
   stroke:#A40;
   fill:#F50
}

.automata-designer-overlay {
   border-radius:4px;
   position:absolute;
   background:#333;
   -webkit-box-shadow:0 0 3px black;
   box-shadow:0 0 3px black;
   margin:0;
   list-style:none;
   padding:0;
   transition-duration:200ms;
   transition-property:opacity, color;
   overflow:hidden;
   opacity:0.5
}

.automata-designer-overlay:hover {
   opacity:1
}

.automata-designer-overlay li {
   transition:200ms;
   color:white;
}

.automata-designer-overlay li:hover {
   background:white;
   color:black;
}

.automata-designer-overlay a {
   text-decoration:none;
   padding:0.5ex;
   font-size:small;
   color:inherit;
   display:block;
}


#new-state-btn-wrap {
    background-color: rgba(255,255,255,0.8);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 10%, rgba(255,255,255,1));
    height:13ex;
    position:absolute;
    z-index:10;
    bottom:0;
    left:0;
    right:20px;
}

#new-state-btn-wrap.welcome-hidden {
    position:static;
    background:transparent
}

#new-state-btn {
   position:absolute;
   bottom:5px;
   left:5px;
   border:1px solid #BB8;
   color:#883;
   font-size:small;
   background:#FFC;
   border-radius:10000px;
   opacity:0.7;
   padding:1ex;
   min-height:13ex;
   display:inline-block;
   vertical-align:middle;
   line-height:13ex;
   text-align:center;
   min-width:13ex;
   transition:200ms;
   cursor:pointer
}

#new-state-btn-wrap:not(.welcome-hidden) #new-state-btn, #new-state-btn:hover {
   opacity:1
}

#new-state-btn.mouse-down {
   opacity:1;
   background:orange
}

.prompt-container {
   display:-webkit-flex;
   display:flex;
   align-items:center;
   padding:2px
}

.prompt-input {
   -webkit-flex:1;
   flex:1;
   width:100%;
   border-right:none;
   margin-right:0 !important;
}

.prompt-btn {
   margin-left:0 !important;
}

input[type=text], input[type=password] {
   border-radius:none;
   box-sizing:border-box;
   min-height:1.5rem;
   outline:none;
   margin:1px;
   border:1px solid silver;
}

input[type=text]:focus, input[type=password]:focus {
   border:1px solid #5CF;
   box-shadow:0 0 1px #5CF
}

input[type=button], button, select {
   margin:1px;
   border-radius:0;
   min-height:1.5rem;
   border:1px solid silver;
   background:white
}

input[type=button]:active, button:active {
   background:#D5D5D5
}

.libD_notify-descr svg {
    max-width:100%
}

.libD_notify {
    overflow:hidden;
    max-height:75%
}

